<h6>Today's notes</h6>
<div class="form-group">
  <textarea [formControl]="newNote" class="form-control" id="newNote" rows="5"></textarea>
</div>
<div class="text-center">
  <button [disabled]="!newNote.valid" (click)="addNote()" class="btn btn-primary">Add note</button>
</div>

<ul class="notes">
  <li class="note" *ngFor="let note of notes | sortByDate">
    <small class="text-muted">{{ note.date | date: 'shortTime' }}</small>
    <p class="m-0">{{ note.note }}</p>
    <small (click)="deleteNote(note.id)" class="note__delete text-muted">
      <fa-icon class="note__icon mr-1" [icon]="trashIcon"></fa-icon>
      Delete
    </small>
  </li>
</ul>
