<div class="wrap row">
  <div class="col-3 bg-secondary">
    <div class="p-3">
      <app-day-switcher></app-day-switcher>
      <app-nav-bar></app-nav-bar>
    </div>
  </div>
  <div class="col-6">
    <div class="p-3">
      <app-day-planner></app-day-planner>
      <div class="my-3 text-center">
        <button class="btn btn-primary mx-auto">Complete day</button>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="p-3">
      <app-yesterdays-handover class="d-block"></app-yesterdays-handover>
      <app-notes class="d-block mt-4"></app-notes>
    </div>
  </div>
</div>
